/* Header */

body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 236, 252);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.haut {
    background-color: #330066;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.gauche img {
    display: block;
    max-width: 100%;
    height: auto;
}

.gauche, .droite {
    flex: 1;
    text-align: center;
}

.gauche {
    margin-right: 10px;
}

.droite {
    margin-left: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}

nav ul li a:hover {
    color: #f3b5ff; /* Couleur de survol à ajuster selon votre choix */
}

p, a {
    text-decoration: none;
    color: #d912c8;
    font-weight: bold;
    font-size: 16px;
}

a:hover {
    color: #f3b5ff; /* Couleur de survol à ajuster selon votre choix */
}

h1, h2, h2, p, a, ul, li {
    margin: 10;
    padding: 10;
    text-decoration: none;  /* Respect des normes d'accessibilité visuelle  */
}

section {
    min-height: 700px;
    margin-bottom: 20px; /* Ajustez la valeur selon votre préférence */
}

/* Fichier calendrier */

#calendrier {
    width: 80%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table {
    border-collapse: collapse;
    width: 50%;
    margin: auto; /* Ajout pour centrer le tableau */
    margin-bottom: 40px
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: center;
}

#navigation {
    text-align: center;
    margin-top: 20px;
}

#prevMonth, #nextMonth {
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
    color: #d912c8; /* Couleur souhaitée */
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Footer */

footer {
    margin-top: 20px;
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #330066;
    padding: 10px; /* Ajustez la valeur selon vos besoins */
    border-radius: 10px;
    text-align: center;
    color: #ffffff; /* Couleur du texte du footer */
}

footer a, p {
    color: #ffffff; /* Couleur du texte des liens dans le footer */
}

footer a:hover {
    color: #f3b5ff; /* Couleur de survol des liens dans le footer à ajuster selon votre choix */
}