/* Header */
body {
    margin: 0;
    padding: 0;
    background-color: rgb(255, 236, 252);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.haut {
    background-color: #330066;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.gauche img {
    display: block;
    max-width: 100%;
    height: auto;
}

.gauche, .droite {
    flex: 1;
    text-align: center;
}

.gauche {
    margin-right: 10px;
}

.droite {
    margin-left: 10px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 10px;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}

nav ul li a:hover {
    color: #f3b5ff; /* Couleur de survol Ã  ajuster selon votre choix */
}

p, a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}

a:hover {
    color: #f3b5ff; /* Couleur de survol Ã  ajuster selon votre choix */
}

h1,h2,p,a,ul,li{
    margin: 10;
    padding: 10;
    text-decoration: none;  /* Respect des normes d'accessibilitÃ© visuelle  */
    }

section{
    min-height: 700px;
}


/* Le reste */

/* fond 1 */
#hero {
    background: url('./images/fond2.jpg') center center; /* Centrer l'image horizontalement et verticalement */
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 1%;
    margin: 10px;
    padding: 10px;
}

#fond {
    color: rgba(110,57,255,0.5);
    font-family: arial;
    text-align: center;
}

#contenu {
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
    background-color: rgba(255,255,255,0.5);
    padding: 50px;
    margin: 20%;
}

#contenu a {
    color: red;
    border: 1px solid red;
    padding: 40px;
    border-radius: 15px;
    transition: ease 1s;
}

#contenu a:hover {
    color: rgb(21, 0, 255);
    background-color: rgba(110,57,255,0.5);
}

nav {
    margin: 0;
    text-align: center;
    min-height: 30px;
}

.milieu-haut-gauche {
    float: left;
    width: 30%;
    background: #074eee;
}

.milieu-haut-droite {
    float: right;
    width: 70%;
    font-size: 1.2em;
    text-align: center;
    height: 20vh;
    background: #00b1be;
    margin-right: 80px;
    margin-left: 80px;
}

#services {
    display: flex;
    background-color: #9f90b3;
    color: aliceblue;
    padding: 20px;
    text-align: center;
}

.services_item p {
    text-align: justify;
    padding: 10px;
    width: 70%;
}

#bandeau {
    background-color: rgba(255,255,255,0.5);
    margin-top: 10%;
}


.container,
.container p,
.container a,
.container h3 {
    text-align: center;
    color: #330066; /* Couleur noire pour le texte */
}

span {
    color: cornflowerblue;
}

/* LES 2 BLOCS FLOTTANTS DE PRESENTATION */
/* BLOC GAUCHE DU MILIEU BLOC DROIT DU MILIEU */

.milieu-gauche {
    float: left;
    width: 60%;
    margin: 10px;
    background: #bf5af1;
    transition-delay: 1s;
    padding: 10px;
    color: #ffffff;
    border-radius: 10px 10px 10px 10px;
}

.milieu-droite {
    float: right;
    width: 30%;
    margin: 10px;
    background: #d864dc;
    padding: 10px;
    color: #ffffff;
    border-radius: 10px 10px 10px 10px;
}
   


/* Footer */

footer {
    margin-top: 20px;
    position: static;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #330066;
    padding: 10px; /* Ajustez la valeur selon vos besoins */
    border-radius: 10px;
    text-align: center;
    color: #ffffff; /* Couleur du texte du footer */
}

footer a, p {
    color: #ffffff; /* Couleur du texte des liens dans le footer */
}

footer a:hover {
    color: #f3b5ff; /* Couleur de survol des liens dans le footer à ajuster selon votre choix */
}